version: "0.1"
name: wipe_and_install_os
global_timeout: 600
tasks:
  - name: "wipe and partition disk, and install os"
    worker: "{{.device_1}}"
    volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      - /lib/firmware:/lib/firmware:ro
    actions:
      - name: "disk-wipe"
        image: ubuntu-workflow/disk-wipe:latest
        timeout: 90
      - name: "disk-partition"
        image: ubuntu-workflow/disk-partition:latest
        timeout: 90
        environment:
          MIRROR_HOST: ${TINKERBELL_HOST_IP}
        volumes:
          - /statedir:/statedir
      - name: "install-root-fs"
        image: ubuntu-workflow/install-root-fs:latest
        timeout: 1500
        environment:
          PROXY_HOST: ${TINKERBELL_HOST_IP}
        volumes:
          - /statedir:/statedir
      - name: "reboot"
        image: reboot
        timeout: 120
        environment:
          REGISTRY: ${TINKERBELL_HOST_IP}
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock